figure { position: relative; margin: 0px; }
figure div { position: absolute; border: 3px solid; cursor: pointer; }
figure div > div { position: absolute; border-color: red; background: white; display: none; padding: 5px; cursor: default; top: 100%; min-width: 100%; }
figure div:focus > div { display: block; }
figure div:focus { z-index: 2; }
.info-button{
  width: 22px;
  height: 22px;
  border-radius: 100%;
  box-shadow: rgb(0 0 0 / 20%) 1px 0px 2px;
  background-color: rgb(151, 122, 242);
  padding:1px;
  position:absolute;
}
.info-button::before {
  content: "?";
  color: rgb(255, 255, 255);
  left: 7px;
  font-weight: bold;
  font-family:sans-serif;
  position: absolute;
  top: 1px;
}
a-change{}