<!DOCTYPE html><html><head><link href="/components/www.tilepieces.net/footer/footer.css" rel="stylesheet" data-tilepieces-component="www.tilepieces.net/footer" data-tilepieces-current-stylesheet=""><style></style></head><body style="margin: 0px;"><footer><div>
  <img src="none">
Tilepieces<br>author: Simone Di Nuovo<br>license under MIT</div><div><strong>Links</strong>
  <ul><li>Ul List Item</li>
    <li>Ul List Item</li>
  </ul>
</div><div><strong>tutorials</strong>
  <ul><li>Ul List Item</li>
    <li>Ul List Item</li>
  </ul>
</div><div><strong>projects</strong><ul><li>Ul List Item</li>
    <li>Ul List Item</li>
  </ul>
</div></footer></body></html>