body { font-family: sans-serif; line-height: 1.5; display: flex; }
main img { width: 100%; max-width: 100%; }
figure { width: 100%; margin: 0px; position: relative; max-width: 100%; }
figure div, figure > a { position: absolute; border: 3px solid; cursor: pointer; }
#create-link { top: 18.3%; left: 2%; width: 30.3%; height: 5.5%; }
#upload-link { top: 18.3%; left: 33.7%; width: 31%; height: 5.5%; }
#export-link { top: 18.3%; left: 65.9%; width: 30.3%; height: 5.5%; }
#local-components { }
#local-components-list-link { top: 35%; left: 1%; width: 96.6%; height: 62.5%; }
main img.inline { width: auto; }
#search-button { top: 11%; height: 9%; width: 4%; left: 0.6%; }
#multiselect-button { top: 11%; height: 9%; width: 4%; left: 6%; }
#css-button { top: 11%; height: 9%; width: 4%; left: 12.1%; }
#js-button { top: 11%; height: 9%; width: 4%; left: 18.2%; }
nav { width: 30%; min-height: 100vh; }
main { width: 70%; }
@media screen and (max-width: 768px) {
  body { flex-direction: column; }
  nav { width: 100%; position: sticky; top: 1px; z-index: 1; min-height: auto; max-width: 100%; margin: 0px; }
  main { width: 95%; max-width: 100%; margin: 0px auto; padding-top: 1em; }
}
@media screen and (min-width: 769px) {
  body { flex-direction: row; }
}
#navigation-index { display: none; }