body { font-family: sans-serif; line-height: 1.5; }
main img { width: 100%; }
figure { width: 100%; margin: 0px; position: relative; }
figure div, figure > a { position: absolute; border: 3px solid; cursor: pointer; }
#create-link { top: 18.3%; left: 2%; width: 30.3%; height: 5.5%; }
#upload-link { top: 18.3%; left: 33.7%; width: 31%; height: 5.5%; }
#export-link { top: 18.3%; left: 65.9%; width: 30.3%; height: 5.5%; }
#local-components { }
#local-components-list-link { top: 35%; left: 1%; width: 96.6%; height: 62.5%; }
main img.inline { width: auto; }
#search-button { top: 11%; height: 9%; width: 4%; left: 0.6%; }
#multiselect-button { top: 11%; height: 9%; width: 4%; left: 6%; }
#css-button { top: 11%; height: 9%; width: 4%; left: 12.1%; }
#js-button { top: 11%; height: 9%; width: 4%; left: 18.2%; }